<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACMI Collection {{ path }} explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <header>
        <h1 class="{% if request.args.work %}selected{% endif %} images"><a href="/{{ path }}/{% if request.args.json %}?json={{ request.args.json }}{% endif %}">Collection {{ path }} explorer</a></h1>
        {% if not request.args.work %}
            <form>
                <input type="text" name="text" id="text" placeholder="What are you looking for?" value="{% if text %}{{ text }}{% endif %}" autofocus>
            </form>
        {% endif %}
        <a href="#appinfo" onclick="openApplicationInformation()"><img class="info app" src="{{ url_for('static', filename='images/info.svg') }}" alt="More information about the Collections explorer" title="More information about the Collections explorer"></a>
        {% if request.args.work %}
            <a href="#back" onclick="goBack()">
                <img class="back" src="{{ url_for('static', filename='images/back.svg') }}" alt="Return to the previous page" title="Return to the previous page">
            </a>
        {% endif %}
        <div class="info-modal">
            <div class="container">
                <span class="close"><a href="#close"><img src="{{ url_for('static', filename='images/close.svg') }}" alt="Close this popup" title="Close this popup"></a></span>
                <div>
                    <h1>What is the collections explorer?</h1>
                    <h2>A way to explore the ACMI collection when you don't know what you're looking for!</h2>
                    <span class="description">
                        <p>We're always looking for new ways to discover and access our collection. The recent development of large language models has created new opportunities by encoding human language into a format that's easy for computers to work with. One of those formats is embeddings.</p>
                        <p>Embeddings is a way to represent <strong>words</strong> as a list of <strong>numbers</strong>.</p>
                        <img class="qrcode" src="{{ url_for('static', filename='images/labs.png') }}" alt="Scan this QR code to read more on labs.acmi.net.au" title="Scan this QR code to read more on labs.acmi.net.au">
                        <p>It means we can encode a human readable word like 'hello' into something a computer can quickly compare to lots of other words, finding matches.</p>
                        <p>This collection explorer uses embeddings to show you algorithmically matching works as you tap and explore.</p>
                        <p>See what the machine sees / see what the algorithm recommends...</p>
                        <p>Read more about it at: <strong>labs.acmi.net.au</strong></p>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <ol class="{% if request.args.work %}selected{% endif %}">
    {% for embedding in embeddings %}
        <li id="{{ embedding.work }}" class="{% if request.args.work %}{% if loop.index0 %}{% else %}selected{% endif %}{% endif %}">
            <a href="/{{ path }}/?work={{ embedding.work }}{% if request.args.json %}&json={{ request.args.json }}{% endif %}">
                <div class="circle"><div class="image"></div></div>
            </a>
            <a href="/{{ path }}/?work={{ embedding.work }}{% if request.args.json %}&json={{ request.args.json }}{% endif %}">
                <p class="title">Loading...</p>
            </a>
            {% if embedding.distance and (request.args.text or request.args.image or request.args.work) %}
                <p class="distance">{{ embedding.distance|format_distance }}% match </p>
            {% endif %}
            {% if path == 'videos' %}
                <p class="timestamp">{{ embedding.work|format_timestamp }} mins </p>
            {% endif %}
            {% if request.args.work %}
                {% if loop.index0 %}
                {% else %}
                    <p class="title-related">Algorithmically related works by {% if path == 'videos' %}video frame{% else %}image{% endif %}:</p>
                {% endif %}
            {% endif %}
            <!-- More information -->
            <div class="info-modal">
                <div class="container">
                    <span class="close"><a href="#close"><img src="{{ url_for('static', filename='images/close.svg') }}" alt="Close this popup" title="Close this popup"></a></span>
                    <div class="left">
                        <div class="circle"><div class="image"></div></div>
                        <h1>Title...</h1>
                        <h2>Sub-title...</h2>
                        <h3>Creators...</h3>
                    </div>
                    <div class="right">
                        <h2>Description</h2>
                        <span class="description"></span>
                        <p class="title-related">Algorithmically related works by {% if path == 'videos' %}video frame{% else %}image{% endif %}:</p>
                        <ol>
                        {% for embedding in embeddings %}
                            {% if not loop.first %}
                                <li id="modal-{{ embedding.work }}" class="modal-works">
                                    <a href="/{{ path }}/?image={{ embedding.work }}{% if request.args.json %}&json={{ request.args.json }}{% endif %}{% if request.args.text %}&text={{ request.args.text }}{% endif %}"><div class="circle"><div class="image"></div></div></a>
                                    <p class="title">
                                        <a href="/{{ path }}/?image={{ embedding.work }}{% if request.args.json %}&json={{ request.args.json }}{% endif %}{% if request.args.text %}&text={{ request.args.text }}{% endif %}">Loading...</a>
                                    </p>
                                    {% if embedding.distance and request.args.work %}
                                        <p class="distance">{{ embedding.distance|format_distance }}% match </p>
                                    {% endif %}
                                    {% if path == 'videos' %}
                                        <p class="timestamp">{{ embedding.work|format_timestamp }} mins </p>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ol>
    <footer>
        <a href="/{{ path }}/{% if request.args.json %}?json={{ request.args.json }}{% endif %}"><p class="random"><img src="{{ url_for('static', filename='images/refresh.svg') }}" alt="Tap to reload a new selection of works" title="Tap to reload a new selection of works"><br>Random</p></a>
        <p class="prototype">Prototype in testing</p>
    </footer>
</body>
</html>

<script>
    function showModal(event) {
        const elementModal = event.currentTarget.getElementsByClassName('info-modal')[0];
        elementModal.style.zIndex = 10;
        elementModal.style.opacity = 1;
        event.preventDefault();
        event.currentTarget.removeEventListener('click', showModal);
    }

    function closeModal(event) {
        if (event.srcElement.className !== 'image' && event.srcElement.className !== 'title') {
            const elementModal = event.currentTarget;
            elementModal.style.opacity = 0;
            elementModal.style.zIndex = -1;
            event.preventDefault();
            event.stopPropagation();
            if (elementModal.parentElement.className === 'selected') {
                // Delay is 0ms, but it ensures the listener is added after the current event finishes
                setTimeout(function() {
                    elementModal.parentElement.addEventListener('click', showModal);
                }, 0);
            }
        }
    }

    function getDescription(work_data) {
        let description = work_data.description_for_label;
        if (description.length == 0) {
            description = work_data.brief_description;
        }
        if (description.length == 0) {
            description = "Sorry, we don't have a description for this object.";
        }
        return description;
    }

    const works = document.getElementsByTagName('li');
    for (let index = 0; index < works.length; index++) {
        const element = works[index];
        // Fetch work information
        if (element.className !== 'modal-works') {
            fetch(`/works/${element.id}/`, {
                method: 'get'
            }).then(function(response) {
                return response.json();
            }).then(function(data) {
                if (data.title) {
                    const modalListElement = document.getElementById(`modal-${element.id}`);
                    if (element.className === 'selected') {
                        const bodyTitle = document.getElementsByTagName('title')[0];
                        bodyTitle.innerHTML = `Collections explorer - ${data.id} - ${data.title}`;
                    }
                    element.getElementsByClassName('title')[0].innerText = ` ${data.title}`;
                    element.getElementsByTagName('h1')[0].innerText = data.title;
                    if (modalListElement !== null) {
                        modalListElement.getElementsByClassName('title')[0].innerText = data.title
                    }
                    element.getElementsByTagName('h2')[0].innerText = data.headline_credit;
                    element.getElementsByTagName('h3')[0].innerText = data.creator_credit;
                    element.getElementsByClassName('description')[0].innerHTML = getDescription(data);

                    fetch(`/thumbnail/${element.id}/`, {
                        method: 'get'
                    }).then(function(thumbnailResponse) {
                        return thumbnailResponse.json();
                    }).then(function(thumbnailData) {
                        if (thumbnailData.thumbnail) {
                            var images = element.getElementsByClassName('image');
                            var imagesArray = Array.from(images).slice(0, 2);
                            if (modalListElement !== null) {
                                var modalImage = Array.from(modalListElement.getElementsByClassName('image'));
                                imagesArray = imagesArray.concat(modalImage);
                            }
                            for (const image of imagesArray) {
                                image.style.opacity = '0';
                                setTimeout(() => {
                                    image.style.backgroundImage = `url(/${thumbnailData.thumbnail})`;
                                    image.style.backgroundRepeat = 'no-repeat';
                                    image.style.backgroundSize = 'cover';
                                    image.style.backgroundPosition = 'center';
                                    image.title = data.title;
                                    image.alt = data.title;
                                    image.style.opacity = '1';
                                }, 300);
                            }
                        }
                        limitWordCount('.title', 7);
                    });
                }
            }).catch(function(err) {
                // Error
                console.log(err);
            });
        }
    }

    function openApplicationInformation() {
        const element = document.getElementsByTagName('header')[0];
        const applicationInfromationModal = element.getElementsByClassName('info-modal')[0];
        applicationInfromationModal.style.zIndex = 10;
        applicationInfromationModal.style.opacity = 1;
        event.preventDefault();
        applicationInfromationModal.addEventListener('click', function (event) {
            applicationInfromationModal.style.opacity = 0;
            applicationInfromationModal.style.zIndex = -1;
            event.preventDefault();
        });
    }

    function goBack() {
        history.back();
        event.preventDefault();
    }

    document.querySelectorAll('a').forEach(function(anchor) {
        anchor.addEventListener('click', function(event) {
            gtag('event', 'click', {
                'event_category': 'Link',
                'event_label': this.href,
                'value': 1.0,
                'currency': 'AUD',
            });
        });
    });

    // Fade in the page after it loads
    window.onload = function() {
        document.body.style.opacity = '1';
    };

    function limitWordCount(selector, wordLimit) {
        const elements = document.querySelectorAll(selector);
        elements.forEach(element => {
            // Split the text into words
            let text = element.innerText.split(/\s+/);
            if (text.length > wordLimit) {
                // Cut off at the limit and add ellipsis
                text = text.slice(0, wordLimit).join(' ') + '...';
                element.innerText = text;
            }
        });
    }

</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2SWGBGNJZB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2SWGBGNJZB');
</script>
