<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACMI Works embeddings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <h1><a href="/">Works embeddings</a></h1>
    <h2>Click on a Work to see related works</h2>
    <ol>
    {% for embedding in embeddings[:11] %}
        <li id="{{ embedding.work }}">
            <p>
                <a href="/?work={{ embedding.work }}">{{ embedding.work }}</a>
                {% if embedding.distance %}
                 ({{ embedding.distance }})
                {% endif %}
            </p>
        </li>
    {% endfor %}
    </ol>
</body>
</html>

<script defer>
    const works = document.getElementsByTagName('li');
    for (let index = 0; index < works.length; index++) {
        const element = works[index];
        fetch(`https://xos.acmi.net.au/api/works/${element.id}/`, {
            method: 'get'
        }).then(function(response) {
            return response.json();
        }).then(function(data) {
            if (data.title) {
                element.getElementsByTagName("a")[0].append(` ${data.title}`);
                const image = document.createElement("img");
                image.src = data.thumbnail.image_url;
                image.title = data.title;
                image.alt = data.title;
                image.width = 100;
                element.appendChild(image);
            }
        }).catch(function(err) {
            // Error
        });
    }
</script>
